<launch>
  <include file="$(find DMA_EKF)/launch/DMA_EKF.launch">
    <arg name="use_compressed_input" value="false" />
    <arg name="ipm_topic" value="/ipm_label" />
    <arg name="filter_mode" value="dmaekf" />

    <arg name="keyframe_distance_thresh" value="0.40" />
    <arg name="keyframe_yaw_thresh_deg" value="3.0" />
    <arg name="keyframe_time_thresh" value="0.25" />

    <arg name="enable_scarcity_weighting" value="true" />
    <arg name="enable_multi_primitive_residual" value="false" />
    <arg name="enable_icp_quality_gate" value="true" />
    <arg name="enable_distance_field_registration" value="true" />
    <arg name="enable_observation_consistency_gate" value="false" />

    <arg name="enable_dma_strong_tracking" value="true" />
    <arg name="enable_dma_observation_weighting" value="true" />
    <arg name="enable_iterative_refinement" value="true" />
    <arg name="iterative_yaw_rate_thresh" value="0.30" />
    <arg name="dma_ewma_rho" value="0.95" />
    <arg name="dma_phi_max" value="15.0" />
    <arg name="dma_gamma_max" value="4.0" />
    <arg name="dma_quality_alpha" value="0.1" />
    <arg name="dma_innovation_alpha" value="0.4" />
    <arg name="dma_quality_trigger" value="0.5" />
    <arg name="dma_innovation_trigger" value="1.3" />
  </include>
</launch>
